body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./img/background.jpg");
    /* backdrop-filter:blur(20px);      */
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    
}

.division {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    /* background-color: #f8f8f8; */
    height:30vh;
    border-radius: 40px;   
    backdrop-filter:blur(20px);
    color: whitesmoke;
    font-weight: bolder;
    /* box-shadow: 0 0 30px rgba(0,0,0,.5);  */
}

.division1 {
    margin-right: 10px;
    margin-left: 10px;
}

.division2 {
    margin-left: 10px;
    margin-right: 10px; 
}
.butt{
    background: #265073;
    border-radius: 10px;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 40px;
    width: 90px;
    font: bold15px arial,sans-serif;
    text-shadow: none
}
.userstyle{
    font-size: larger;
    width: 10px;
    color: white;
}
.atext{
    color: white;
  }